* {
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(167, 221, 244); 
    position:relative;
    width: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 80px;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: "Outfit";
    font-weight: 100;
    margin: 20px;
    gap: 20px;
}

.logo img{
    margin: 10px;
    width: 8%;
    border-radius: 20px;
}

.navbar {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 15px;
    font-family: "Outfit";
    gap: 20px;
    margin: 20px;
}

.navbar a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.navbar a:hover{
    background-color: rgb(15, 180, 206);
    border-radius: 8px;
    padding: 10px;
}

main {
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    background-color: rgb(189, 227, 243);
}

.slogan h1{
    display: flex;
    font-size: 50px;
    justify-content: center;
    font-family: "Outfit";
}

form{
    max-width: 1200px;
    width: 100%;
    padding: 10px;
    margin: 30px auto;
    background-color: rgb(29, 106, 179);
    border-radius: 10px;
}

.busca{
    display: flex;
    justify-content: center;
}

.busca input{
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}

.filtros{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.filtros input{
    padding: 8px;
    width: 100%;
    border-radius: 10px;
    border: none;
    flex: 1px;
}
 
.filtros button{
    padding: 9px;
    border-radius: 10px;
    width: 500px;
    color: white;
    cursor: pointer;
    background-color: rgb(207, 134, 130);
    border: none;
    transition: 0.3s;
    flex: 0;
}

.filtros button:hover{
    background-color: #2882dc;
    padding: 8px;
}

.eventos-container{
    max-width: 600px;
    width: 100%;
    padding: 10px;
    margin: 1px auto;
    display: flex;
    justify-content: space-between;
}

.eventos-container h3{
    font-family: "Outfit";
}

.eventos{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.eventos a{
    text-decoration: none;
    color: black;
    font-family: "Outfit";
    cursor: pointer;
    transition: 0.3s;
}

.eventos a:hover{
    background-color: rgb(15, 180, 206);
    padding: 8px;
    border-radius: 10px;
}


.destaques img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.destaques div{
    margin-bottom: 100px;
}

.destaques h3{
    display: flex;
    width: fit-content;
    margin: 10px auto;  
    padding: 20px;
    font-size: 20px;
    font-family: "Outfit";
}

.destaques h4{
    font-family: "Outfit";
    padding: 5px;
}


.destaques article{
    width: 250px;
    background-color: rgb(207, 134, 130);
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
}

.destaques p{
    font-family: "outfit";
    padding: 5px;
}

.destaques button{
    width: 30%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 222, 112);
    font-family: "Outfit";
    align-self: flex-end;
    cursor: pointer;
    transition: 0.3s;
}

.destaques button:hover{
    background-color: rgb(255, 253, 120);
    padding: 8px;
}

#musica {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#teatro{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#arte {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#gastronomia {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container h2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: "Outfit";
}

.social-links{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.contact-methods h3{
    display: flex;
    justify-content: center;
    font-family: "Outfit";
    padding: 10px;
}

.social-links img{
    width: 30px;
}

form input{
    width: 96%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: "Outfit";
    font-size: 16px;
}

form textarea{
    width: 96%;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    font-family: "Outfit";
    font-size: 16px;
}

form button{
    width: 15%;
    border-radius: 10px;
    padding: 5px;
    border: none;
    margin-bottom: x;
    font-family: "Outfit";
    font-size: 16px;
    background-color: rgb(207, 134, 130);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover{
    background-color: #2882dc;
}

.container{
    margin-top: 50px;
}

.contact-methods{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.contact-methods p{
    display: flex;
    justify-content: center;
    font-family: "Outfit";
}

footer{
    height: auto;
    display: flex;
    align-items: center;
     padding: 10px;
    text-align: center;
    background-color: rgb(167, 221, 244); 
    font-family: "Outfit";
}


@media (max-width: 640px){
   
    header{
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    .slogan h1 {
        font-size: 22px; 
        text-align: center;
        padding: 10px;
    }

    .logo {
        font-size: 25px;
    }

    .logo img{
        width: 45px;
    }

    .navbar{
        flex-direction: column;
        gap: 10px;
        font-size: 20px;
    }
    main{
        padding-top: 30px;
    }
    form {
        width: 90%;
    }

    .eventos-container{
        flex-direction:column;
        align-items: center;
    }

    .busca input {
        width: 90%;
    }
    .filtros{
        flex-direction: column;
        gap: 8px;
    }

    .filtros input, .filtros button {
        width: 90%; 
    }
    footer{
        align-items: center;
    }
}

@media (min-width: 768px){
    .filtros{
        flex-direction: row;
        gap: 10px;
    }

    .filtros input, .filtros button {
        flex: 1;
    }
}

@media (max-width: 640px){
    #musica, #teatro, #arte, #gastronomia {
        flex-direction: column;
        align-items: center;
    }

    .destaques article {
        width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    #musica, #teatro, #arte, #gastronomia {
        flex-wrap: wrap;
        justify-content: center;
    }

    .destaques article {
        width: 45%; 
    }
}

@media (min-width: 1025px){
    #musica, #teatro, #arte, #gastronomia {
        flex-wrap: wrap;
        justify-content: center;
    }

    .destaques article {
        width: 30%;
    }
    form{
        width: 80%;
    }
}

@media (max-width: 640px){
    .contact-methods {
        flex-direction: column;
        gap: 20px;
    }
     .contact-methods p{
        padding-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .contact-methods {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    form{
        width: 70%;
    }
}

@media (min-width: 640px) and (max-width: 768px){
    .contact-methods {
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }
    form{
        width: 90%;
    }
    
}

