* {
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(167, 221, 244); 
    position: fixed;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 80px;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: "Outfit";
    font-weight: 100;
    margin: 20px;
    gap: 20px;
}

.logo img{
    margin: 10px;
    width: 8%;
    border-radius: 20px;
}

.navbar {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 20px;
    font-family: "Outfit";
    gap: 20px;
    margin: 20px;
}

.navbar a{
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    padding-top: 120px;
    flex-direction: column;
    background-color: rgb(189, 227, 243);
}

.slogan h1{
    display: flex;
    font-size: 30px;
    justify-content: center;
    font-family: "Outfit";
}

form{
    max-width: 600px;
    width: 100%;
    padding: 10px;
    margin: 30px auto;
    background-color: rgb(29, 106, 179);
    border-radius: 10px;
}

.busca{
    display: flex;
    justify-content: center;
}

.busca input{
    padding: 2px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    color: aqua;
    border: none;
}

.filtros{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-grow: 1;
    width: 100%;
}

.filtros input{
    padding: 2px;
    width: 95%;
    border-radius: 10px;
    border: none;
}
 
.filtros button{
    padding: 2px;
    border-radius: 10px;
    width: 30%;
    color: white;
    background-color: rgb(207, 134, 130);
    border: none;
}

.eventos-container{
    max-width: 600px;
    width: 100%;
    padding: 10px;
    margin: 1px auto;
    display: flex;
    justify-content: space-between;
}

.eventos-container h3{
    font-family: "Outfit";
}

.eventos{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.eventos a{
    text-decoration: none;
    color: black;
    font-family: "Outfit";
}

.destaques img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.destaques h3{
    display: flex;
    justify-content: center;
    padding: 30px;
    font-family: "Outfit";
}

.destaques h4{
    font-family: "Outfit";
    padding: 5px;
}

.destaques article{
    width: 250px;
    background-color: rgb(207, 134, 130);
    padding: 10px;
    border-radius: 10px;
}

.destaques p{
    font-family: "outfit";
    padding: 5px;
}

.destaques button{
    width: 30%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 222, 112);
    font-family: "Outfit"
}

#musica {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#teatro{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#arte {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#gastronomia {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container h2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: "Outfit";
}

.social-links{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.contact-methods h3{
    display: flex;
    justify-content: center;
    font-family: "Outfit";
    padding: 10px;
}

.social-links img{
    width: 30px;
}

form input{
    width: 96%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: "Outfit";
    font-size: 16px;
}

form textarea{
    width: 96%;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    font-family: "Outfit";
    font-size: 16px;
}

form button{
    width: 15%;
    border-radius: 10px;
    padding: 5px;
    border: none;
    margin-bottom: x;
    font-family: "Outfit";
    font-size: 16px;
    background-color: rgb(207, 134, 130);
    color: white;
}

.contact-methods p{
    display: flex;
    justify-content: center;
    font-family: "Outfit";
}

@media (max-width: 480px){
    header{
        flex-direction: column;
        height: auto;
    }

    .logo img{
        width: 40px;
    }

    .logo {
        font-size: 15px;
    }

    .navbar{
        margin: 10px;
        gap: 10px;
        font-size: 15px;
    }

    main{
        padding-top: 20px;
    }

    .filtros{
        flex-direction: column;
        gap: 5px;
    }

    .filtros input, .filtros button {
        width: 100%;
        margin-top: 5px;
    }
}